.header__logo {
    background-image: url(../../../images/logo.svg);
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
    background-repeat: no-repeat ;
    background-size: contain;
}
@media screen and (max-width: 500px) {
    .header__logo {
        margin-left: 27px;
        margin-bottom: 31px;
        width: 103.74px;
        height: 24.4px;
    }
}