.elements {
    margin: 51px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    justify-items: center;
    max-width: 880px;
}
@media screen and (max-width: 1000px) {
    .elements {
        margin: 45px auto 0;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .elements {
        margin: 36px auto 0;
        grid-template-columns: 1fr;
    }
}