.popup__save-button {
    margin-top: 48px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: 0;

}
.popup__save-button:hover {
    opacity: 0.8;
}
@media screen and (max-width:500px) {
    .popup__save-button {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
    }
    
}